@font-face {
  font-family:  "Bluu Next";
  src: url(bluunext.woff2), url(bluunext.woff);
}

body {
	font-family: "Bluu Next", Arial;
	font-size: 24px;
	line-height: 1.25;
	background-color: #edc7a9;
  /* direction (180deg), starting color, end color (transparent: white with 0 transparency) */
  background-image:  linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
	color: #000;
	width: 620px;
  height:  100vh;
  transition: background-color 0.5s;
}

h1 {
	font-size: 24px;
  margin:  10px 0 10px;
}

h2 {
  font-size:  10vmin;
  /* 10% of the minimum between height or width of the window*/
}

section {
  position:  fixed;
  top:  50%;
  left:  50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.circle{
  width:  20px;
  height:  20px;
  background-color: #3e78ed;
  border-radius:  50%;
  display:  inline-block;
  transition: background-color 0.5s;
}

footer {
  position:  fixed;
  bottom:  0;
  left:  0;
  width:  100%;
  padding:  30px;
  display:  flex;
  justify-content:  center;
  align-items:  center;
}

section a {
  color: #000;
}

footer img{
  margin:  0 10px;
  cursor:  pointer;
}

