header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    text-align: center;
    z-index: 1;
  }
  
  header img {
    width: 136px;
    transition: width 0.5s;
  }
  
  header.scrolled img {
    width: 64px;
  }